src/*.o
src/*.gch
src/libvolition/*.o
src/libvolition/*.gch
src/libvolition/*.a
src/libvolition/include/*.o
src/libvolition/include/*.gch
src/node/*.o
src/node/*.gch
src/node/generated/*.h
src/node/generated/*.gch
src/node/win32/*.o
src/node/volition_node_*
src/node/vgcore.*
src/node/brander/*.o
src/node/brander/brander
src/node/brander/brander.exe
src/server/*.o
src/server/*.gch
src/server/volition_server*
src/server/server.db
src/server/vgcore.*
src/server/win32/*.o
src/server/server.log
src/control/*.o
src/control/*.gch
src/control/volition_control*
src/control/control.conf
src/control/vgcore.*
src/control/win32/win.o
src/utils/*.o
src/utils/*.gch
src/utils/*.exe
src/utils/genauthtoken
**/.libvl
**/.fuse*
**/*.pem
**/*.srl
**/*.csr
**/gmon.out
**/*.so
**/*.dll
**/*.dylib
**/vgcore.*
